In [6]:
string_number='10'
convert=int(x)
print(y)

10

In [5]:
string_word='TEN'
convert=int(string_word)
print(convert)

ValueError: invalid literal for int() with base 10: 'TEN'

In [8]:
integer=10
convert=str(integer)
print(convert)

10

In [16]:
boolean=True
convert=str(boolean)
print(convert)

True

In [18]:
string='true'
convert=bool(string)
print(convert)

True

In [20]:
string=''
convert=bool(string)
print(convert)

False

In [21]:
string='Hamza'
convert=bool(string)
print(convert)

True

In [22]:
string='Hamza'
convert=float(string)
print(convert)

ValueError: could not convert string to float: 'Hamza'

In [23]:
number=70/13
convert=float(number)
print(convert)

5.384615384615385

In [24]:
integer=70/13
convert=float(integer)
convert_to_int=int(convert)
print(convert_to_int)

5

In [25]:
integer=20
convert=float(integer)
print(convert)

20.0

In [27]:
list1=[1,2,3,'Hamza']
convert=tuple(list1)
print(convert)

(1, 2, 3, 'Hamza')

In [29]:
tuple1=(1,2,3,'Hamza')
convert=list(tuple1)
print(convert)

[1, 2, 3, 'Hamza']

In [31]:
dict1={'one':1,'two':2,'three':3}
convert=list(dict1)
print(convert)

['one', 'two', 'three']

In [32]:
dict1={'one':1,'two':2,'three':3}
convert=tuple(dict1)
print(convert)

('one', 'two', 'three')

In [33]:
list1=[1,2,3,'Hamza']
convert=dict(list1)
print(convert)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [34]:
tuple1=(1,2,3,'Hamza')
convert=dict(tuple1)
print(convert)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [35]:
arr=[1,2,3,4]
convert=list(arr)
print(convert)

[1, 2, 3, 4]

In [36]:
arr=[1,2,3,4]
convert=tuple(arr)
print(convert)

(1, 2, 3, 4)

In [37]:
arr=[1,2,3,4]
convert=dict(arr)
print(convert)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [38]:
print(8<<1)

16

In [41]:
print(8>>2)
#8->1000
#shiftright(2)-->0010=2

2

In [40]:
print(10<<2)
#10->00001010
#shiftleft(2)-->00101000=40

40

In [42]:
print(10>>2)
#10->00001010
#shiftleft(2)-->00000010=2

2

In [54]:
list=[1,2,3,4,5,6]
print('The odd numbers are:',list[0:6:2]) #list[start:stop:step]

The odd numbers are: [1, 3, 5]

In [55]:
list=[1,2,3,4,5,6]
print('The even numbers are:',list[1:6:2])

The even numbers are: [2, 4, 6]

In [60]:
x=int(input('Enter a year:'))
if x%4==0:
    print('Youve entered a leap year!')
else: 
    print('The year you entered is not a leap year')

Enter a year:2021
The year you entered is not a leap year

In [61]:
x=int(input('Enter a year:'))
if x%4==0:
    print('Youve entered a leap year!')
else: 
    print('The year you entered is not a leap year')

Enter a year:2024
Youve entered a leap year!

In [63]:
x=int(input('Enter age of first person:'))
y=int(input('Enter age of second person:'))
z=int(input('Enter age of third person:'))
if x>z and x>y:
    max=x
elif z>y and z>x:
    max=z
else: 
    max=y

if x<z and x<y:
    min=x
elif z<y and z<x:
    min=z
else: 
    min=y
    
print('The maximum age is: ',max)
print('The minimum age is: ',min)

Enter age of first person:12
Enter age of second person:1
Enter age of third person:34
The maximum age is:  34
The minimum age is:  1